@media (max-width: 770px) {
  .header-content{
    
    text-align: center;
  }

  .header-content h1{
    font-size: 45px;
    
  }

  .home-btns{
    flex-direction: column;
  }

  .social-media{
    display: none;
  }
  nav{
    padding: 0px 1.875rem !important;
  }
  .navbar .nav-item a:hover::after {
    width: 70px;
  }

  .whatido-cards-content {
    width: 100%;
  }

  .about-img-text {
    display: flex;
    flex-direction: column;
  }
  .about-header {
    margin-top: 40px;
  }
  .section-header h2{
    font-size: 48px;
  }

  .about-text p {
    font-size: 16px;
    text-align: center;
  }
  .about-text p span {
    font-size: 1.225rem;
    text-align: center;
  }
  .feedback-content{
    text-align: center;
    flex-direction: column-reverse;
    gap: 30px;
    padding: 30px;
  }
  .feedback-text::after{
    display: none;
  }
  .write-comment textarea{
    width: 350px ;
    margin-inline: auto;
    height: 140px;
    resize: none;
  }  
  .contact-p {
    font-size: 33px;
  }
  .contact-p::after{
    left: 6%;
  }
  .social-media-about{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 5px;
  }
  .social-media-about i{
    color: aqua;
    font-size: 20px;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.5s ease;
  }
  .social-media-about i:hover{
    transform: scale(1.5);
    color: rgb(206, 79, 79);
    background-color: aliceblue;
  }
  
  .blog-author .name{
    font-size: 16px;
  }
  
}


@media (min-width: 770px) and (max-width: 990px) {
  
  .navbar .nav-item a:hover::after {
    width: 70px;
  }
  
  .about-content-text{
    padding: 10px 30px !important;
  }
  
  .about-text p {
    font-size: 12px;
  }
  .about-text p span {
    font-size: 1.125rem;
  }
  .section-header {
    margin-bottom: 15px !important;
  }

  .section-header span {
    font-size: 5em;
  }

  .section-header h2 {
    font-size: 32px;
  }
  .works-content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .feedback-content{
    font-size: 12px;
    padding: 27px;
  }
  .contact-p {
    font-size: 75px;
  }
  .contact-p::after{
    left: 5%;
  }
  .contact-part2-p{
    font-size: 15px !important;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .about-content-text{
    padding: 10px 30px !important;
  }
  
  .about-text p {
    font-size: 16px;
  }
  .about-text p span {
    font-size: 1.225rem;
  }
  .section-header {
    margin-bottom: 50px !important;
  }

  .section-header span {
    font-size: 7em;
  }

  .section-header h2 {
    font-size: 25px;
  }
  .contact-p {
    font-size: 95px;
  }
  .contact-p::after{
    left: 14%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .about-content-text{
    padding: 10px 30px !important;
  }
  
  .about-text p {
    font-size: 19px;
  }
  .about-text p span {
    font-size: 1.425rem;
  }
  .section-header {
    margin-bottom: 50px !important;
  }

  .section-header span {
    font-size: 7em;
  }

  .section-header h2 {
    font-size: 30px;
  }
  .contact-p {
    font-size: 105px;
  }
  .contact-p::after{
    left: 15%;
  }
}
